*{
    font-family: 'Courier New', Courier, monospace;
}
html{
    margin: 0;
}

body{
    height: auto;
    display: flex;
    flex-direction:column ;
    flex: auto;
    margin: 0;
}

.box1{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 0 5%;
}

.header h1{
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.One .container .head, .One .container .text {
    color: #f9faf8;
}
.head {
    font-size: 30px;
    font-weight: bold;
}

.One {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
}

.One .container {
    width: 400px;
    flex: 1;
}
.One .image {
    display:flex;
    justify-content: center;
    flex: 1;
}
.One button{
    margin: 2%;
    padding: 5px 20px;
    width: max-content;
    height: min-content;
    white-space: nowrap;
    border-style: solid;
    background-color:#3882f6;
    border-color: #3882f6;
    color: white;
    align-self: center;
    border-radius: 5px;
}

.Two{
    display: flex;
    flex-direction:column;
    align-items: center;
}


.Two .image-flex{
    max-width: 100%;
    max-height: auto;
}

.Two ul {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    gap: 3%;
    width: 100%;
    justify-content: center;
}
.Two .box {
    width: 200px;
    height: 200px;
    border-width: 20px;
    border: solid #3882f6;
    border-radius: 15px;
    margin-bottom: 5%;
}

.Two li {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
}

.Two li .text {
    display: flex;
    width: 200px;
    text-align: center;
}

.Three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
}

.poem {
    font-size: 20px;
    font-family: italic;
    color: #1f2937;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-size: medium;
    font-weight: bold;
}

.Four{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.Four .container{
    background-color:#3882f6 ;
    display: flex;
    justify-content: space-evenly;
    padding: 4% 8%;
}


.Four .container button {
    margin: 2%;
    padding: 5px 20px;
    width: max-content;
    height: min-content;
    white-space: nowrap;
    border-style: solid;
    background-color:#3882f6;
    border-color: white;
    color: white;
    border-width: 2px;
    align-self: center;
}

.Four .buy{
    font-size: large;
    font-weight: bolder;
}

.Four .container .cont{
    color: white;
}


.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 3%;
}