*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 1080px;
    display: flex;
    flex-direction:column ;
    flex: auto;
}

.box1{
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header h1{
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.One .container .head, .One .container .text {
    color: #f9faf8;
}
.head {
    font-size: 30px;
    font-weight: bold;
}

.One {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.One .container {
    width: 400px;
    padding: 30px;
}

img[alt~="dog"]{
    border-radius: 5px;
}

.Two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Two ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}

.Two .box{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid;
    border-color:#3882f6;
}

.Two ul li {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.Three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.poem {
    font-size: 20px;
    font-family: italic;
    color: #1f2937;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-size: medium;
    font-weight: bold;
}

.Four{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.Four .container{
    background-color:#3882f6 ;
}
